---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Página de Inicio";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
	<Greeting client:load messages={["Hola", "Qué tal", "Hola a todos"]} />
</BaseLayout>